@model IEnumerable<MinhaSaude.Models.Paciente>

@{
    ViewData["Title"] = "Novo Cadastro";
}

@*<h1 class=" d-flex justify-content-center m-3 mb-2" style="background-color: #faebd7;">Perfil Paciente</h1>
<section>
    <div class="overflow-scroll p-2">
        <a class="btn btn-light btn-block p-4" href="#" role="button"> Visualizar Receita</a>
        <a class="btn btn-light btn-block p-4" href="#" role="button">Tratamento</a>
        <a class="btn btn-light btn-block p-4" asp-area="" asp-controller="CaixinhaDeRemedioss" asp-action="Index">Caixinha de Remédios</a>
        <a class="btn btn-light btn-block p-4" href="#" role="button">Procurar preços</a>
        <a class="btn btn-light btn-block p-4" href="configuracoes.php" role="button">Configurações</a>
    </div>
</section>*@
<body>
    <h1 style="margin: 0 45px 0 0;">Novo Cadastro</h1>

    <p>
        <a asp-action="Create">Criar</a>
    </p>
</body>
@*
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
