@using MinhaSaude.Models
@model List<FileModel>
@*@model IEnumerable<MinhaSaude.Models.Receita>*@

@{
    ViewData["Title"] = "Receitas";
}

<h1>Receitas disponíveis para visualização</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Importar Receita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do arquivo
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeArquivo)
            </th>*@
        </tr>
    </thead>
    <tbody>
@foreach (FileModel file in Model) {
        <tr>
            <td>@file.FileName</td>
            <td>@Html.ActionLink("Visualizar", "DownloadFile", new { fileName = file.FileName }) | <a asp-action="Delete" asp-route-id="@file">Excluir</a></td>

            @*<td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArquivo)
        </td>*@

            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
