@model IEnumerable<MinhaSaude.Models.Farmacia>

@{
    ViewData["Title"] = "Bem-vindo(a)!";
}

<body>
    <h1 class=" d-flex justify-content-center m-3 mb-2" style="background-color: #faebd7;">Bem vindo(a)!</h1>
    <section>
        <div class="overflow-scroll p-2">
            <a class="btn btn-light btn-block p-4" asp-controller="Medicamentos" asp-action="Index" role="button"><strong>Lista de Medicamentos</strong></a>
            <a class="btn btn-light btn-block p-4" asp-area="" asp-controller="Receitas" asp-action="Index"><strong>Visualizar Receita</strong></a>
            <a class="btn btn-light btn-block p-4" asp-area="" asp-controller="Receitas" asp-action="Create"><strong>Importar Receita</strong></a>
        </div>
    </section>
</body>

@*<h1>Novo Cadastro</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFarmacia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFarmacia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
