@model MinhaSaude.Models.Medicamento

@{
    ViewData["Title"] = "Excluir Medicamento";
}

<h4>Excluir Medicamento</h4>

<h5>Tem certeza que deseja excluir este medicamento da base de dados?</h5>
<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Laboratorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laboratorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrincAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrincAtivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosagem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
