@model MinhaSaude.Models.Tratamento

@{
    ViewData["Title"] = "Detalhes do Traramento";
}

<h4>Detalhes do Traramento</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anotacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anotacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaUso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaUso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
